@model SessionPlanner.Models.Session.SessionDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Booking</h2>

<h3>Are you sure you want to delete this booking?</h3>
<div>
    @*<h4>SessionDetail</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.SessionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionTypeID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extras)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Sessions", "Index")
        </div>
    }
</div>
