@using SessionPlanner.Models.SessionType
@model IEnumerable<SessionPlanner.Models.SessionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Booked Sessions </h2>
<p>
    @Html.ActionLink("Book A New Session", "Create")
</p>
<hr />

@foreach (var item in Model)
{

    <div class="card" style="width: 22.5rem; height: 15rem; text-align:center;">
        <div class="card-block">
            <h3 class="card-title">@Html.DisplayFor(model => item.Name)</h3>
            <p class="card-text">@Html.DisplayFor(model  => item.StartTime)</p>
            
            @Html.ActionLink("Edit", "Edit", new { id = item.SessionID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SessionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SessionID })
          
        </div>
    </div>



}
